
@{
    ViewData["Title"] = "Index";
}

<h1>Outros Cadastros</h1>
<div>
    <a href="../FORMA_PAGAMENTO/Index" class="btn btn-block btn-success">Forma de Pagamento</a>
</div>
<br>
<div>
    <a href="../TIPO_CONSULTA/Index" class="btn btn-block btn-success">Tipo de Consulta</a>
</div>
<br>
<div>
    <a href="../CLINICA/Index" class="btn btn-block btn-success">Clínica</a>
</div>
