
@{
    ViewData["Title"] = "Index";
}

<h1>Outros Cadastros</h1>
<div>
    <a href="../FORMA_PAGAMENTO/Index" class="btn btn-block btn-primary">Forma de Pagamento</a>
</div>
<br>
<div>
    <a href="../TIPO_CONSULTA/Index" class="btn btn-block btn-primary">Tipo de Consulta</a>
</div>
<br>
<div>
    <a href="../CLINICA/Index" class="btn btn-block btn-primary">Clínica</a>
</div>
<br>
<div>
    <a href="../HISTORICO_PACIENTE/Index" class="btn btn-block btn-primary">Histórico de Pacientes</a>
</div>
