@page
@model AppCareClinicMed.Views.FormaPagamento.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FORMA_PAGAMENTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FORMA_PAGAMENTO.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FORMA_PAGAMENTO.Descricao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FORMA_PAGAMENTO.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
