@page
@model AppCareClinicMed.Views.FormaPagamento.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FORMA_PAGAMENTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FORMA_PAGAMENTO.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FORMA_PAGAMENTO.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FORMA_PAGAMENTO.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
