@{
    ViewData["Title"] = "Home Page";
}
<div>
    <p>
        <h1 style="text-align:center">Med Care System</h1>
    </p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Images/HomePageImg.gif" alt="ASP.NET" class="img-responsive" style="display:block; margin-left:auto; margin-right:auto; width:50%"/>
        </div>
    </div>
</div>
